body {
  background: #0a0a0a;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  margin-top: 80px;
}

select {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

button {
  width: 200px;
  padding: 15px;
  margin: 10px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.on {
  background: green;
  color: white;
}

.off {
  background: red;
  color: white;
}

#status {
  margin-top: 20px;
}
